:root {
    --primary-color: rgb(24, 81, 128);
    --secondary-color: rgb(179, 255, 0);
    --accent-1: rgba(255, 255, 255, 0.881);
    font-family: "Roboto Condensed", sans-serif;
}

h1, header, footer{
    font-family: "Faustina", serif;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--accent-1);
    margin: 0%;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.41);
}

header a {
    color: var(--accent-1);
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

a:hover {
    text-shadow: 0 0 10px var(--secondary-color), 0 0 20px rgb(238, 255, 0);
}

img {
    width: 200px;
    height: 200px;
    margin: 5%;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

}

.about-me, .random-info {
    border: 1px solid #ccc;
    padding: 0%;
    margin: 2%;
    border-radius: 5px;
}

h2 {
    background-color: var(--primary-color);
    color: var(--accent-1);
    margin: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

