:root {
    --primary-color: #605a3a;
    --secondary-color: #f6e2ba;
    --accent1-color: #867e1d;
    --accent2-color: #dcc48f;
}

h1 {
    font-family: "Poetsen One", sans-serif;
}

header, footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
}

main img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.data, .weather {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0
