:root {
    --primary-color: #605a3a;
    --secondary-color: #f6e2ba;
    --accent1-color: #867e1d;
    --accent2-color: #dcc48f;
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

header, footer {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
}

main img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.data, .weather {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 1%;
    width: ;
}

.data h2, .weather h2 {
    margin-bottom: 0.5rem;
    background-color: var(--accent1-color);
    color: white;
    padding: 0.4rem;
    border-radius: 5px;
    text-align: center;
}